<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Core.Settings.DBConnect" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Core.Settings.DBConnect>
            <setting name="server" serializeAs="String">
                <value />
            </setting>
            <setting name="database" serializeAs="String">
                <value />
            </setting>
            <setting name="userID" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="port" serializeAs="String">
                <value />
            </setting>
        </Core.Settings.DBConnect>
    </userSettings>
</configuration>